// HEADER

header{
@include header;
}

#header-icone {
    height:100%;
    @include flex-center-center;
    position:absolute;
    top:0;
    left:1em;
    color:black;

}

.header__image{
    width:100%;
    height:550px;
    background-image: url("../../public/img/restaurants/la_note_enchantee.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
