h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  font-weight: 500;
}

p {
  font-weight: 300;
}

ul {
  list-style-type: none;
}

#logo-header, #logo-footer {
  font-family: "Shrikhand", cursive;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  margin: 0 auto;
  padding: 15px 0px;
  border: none;
  cursor: pointer;
}
.btn--explore {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
}
.btn--explore:hover {
  background: red;
}

.functioning__card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 80px;
  box-shadow: 1px 4px 10px #d2d2d2;
  border-radius: 20px;
  background-color: whitesmoke;
}
.functioning__card__number {
  position: relative;
  right: 15px;
  color: white;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 20px;
  height: 20px;
}
.functioning__card__icone {
  font-size: 25px;
  color: gray;
  position: relative;
  left: 15px;
}
.functioning__card h4 {
  font-weight: 500;
  padding-left: 40px;
}
.functioning__card:hover {
  background-color: red;
}

.restaurants__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 1px 4px 10px #d2d2d2;
}
.restaurants__card__image {
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 375px;
  height: 190px;
}
.restaurants__card__image .new {
  display: flex;
  justify-content: center;
  width: 25%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #99E2D0;
  position: relative;
  top: 15px;
  left: 125px;
}
.restaurants__card__image.image01 {
  background-image: url("../../public/img/restaurants/la_palette_du_gout.jpg");
}
.restaurants__card__image.image02 {
  background-image: url("../../public/img/restaurants/la_note_enchantee.jpg");
  background-position: top;
}
.restaurants__card__image.image03 {
  background-image: url("../../public/img/restaurants/a_la_francaise.jpg");
}
.restaurants__card__image.image04 {
  background-image: url("../../public/img/restaurants/le_delice_des_sens.jpg");
}
.restaurants__card__infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.restaurants__card__infos h3 {
  padding: 20px 0px 5px 15px;
}
.restaurants__card__infos p {
  padding-left: 15px;
  padding-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

header {
  z-index: 1;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  height: 85px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

#logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 0;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  height: 65px;
}
.location i {
  position: relative;
  right: 25px;
}
.location h3 {
  font-weight: 400;
  margin: 0;
  position: relative;
  right: 5px;
}

.explore {
  background-color: whitesmoke;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explore h1 {
  width: 80%;
  text-align: center;
  margin-top: 50px;
}
.explore p {
  text-align: center;
  margin-top: 20px;
}
.explore a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 30px;
}

.functioning {
  padding-top: 50px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.functioning__heading {
  margin-bottom: 30px;
}
.restaurants {
  background-color: whitesmoke;
  margin-bottom: 80px;
}
.restaurants__heading {
  padding-top: 50px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.restaurants .icone-heart {
  font-size: 25px;
  margin: 25px;
}

footer {
  background-color: #323232;
  color: white;
  padding: 30px;
}
footer div {
  width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
footer ul {
  padding: 0px;
}
footer ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
footer ul li .icone {
  width: 30px;
  margin: 0;
}

#logo-footer {
  font-size: 25px;
  padding-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
