h1 {
  font-size: 33px;
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 44px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 55px;
  }
}

h2 {
  font-size: 27px;
}
@media screen and (max-width: 992px) {
  h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 45px;
  }
}

h3 {
  font-size: 21px;
}
@media screen and (max-width: 992px) {
  h3 {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 35px;
  }
}

h4 {
  font-size: 19.8px;
}
@media screen and (max-width: 992px) {
  h4 {
    font-size: 26.4px;
  }
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 33px;
  }
}

h5 {
  font-size: 12px;
}
@media screen and (max-width: 992px) {
  h5 {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-size: 16.8px;
}
@media screen and (max-width: 992px) {
  h6 {
    font-size: 22.4px;
  }
}
@media screen and (max-width: 768px) {
  h6 {
    font-size: 28px;
  }
}

p {
  font-size: 20.4px;
}
@media screen and (max-width: 992px) {
  p {
    font-size: 27.2px;
  }
}
@media screen and (max-width: 768px) {
  p {
    font-size: 34px;
  }
}

#logo-header {
  font-size: 36px;
}
@media screen and (max-width: 992px) {
  #logo-header {
    font-size: 48px;
  }
}
@media screen and (max-width: 768px) {
  #logo-header {
    font-size: 60px;
  }
}

#logo-footer {
  font-size: 21px;
}
@media screen and (max-width: 992px) {
  #logo-footer {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  #logo-footer {
    font-size: 35px;
  }
}

#font-button {
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  #font-button {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  #font-button {
    font-size: 30px;
  }
}

#icone-functioning {
  font-size: 21px;
}
@media screen and (max-width: 992px) {
  #icone-functioning {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  #icone-functioning {
    font-size: 35px;
  }
}

#header-icone {
  font-size: 24px;
}
@media screen and (max-width: 992px) {
  #header-icone {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  #header-icone {
    font-size: 40px;
  }
}

@keyframes loader--spin {
  0% {
    transform: rotate(0deg) scale(1.1);
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
  }
  25% {
    transform: rotate(180deg) scale(1.3);
    border-bottom-color: #9356DC;
    border-top-color: #FF79DA;
  }
  50% {
    transform: rotate(360deg) scale(1.5);
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
  }
  75% {
    transform: rotate(540deg) scale(1.8);
    border-bottom-color: #9356DC;
    border-top-color: #FF79DA;
  }
  95% {
    transform: rotate(540deg) scale(2.8);
    border-bottom-color: #9356DC;
    border-top-color: #FF79DA;
  }
  100% {
    transform: rotate(0deg) scale(1);
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 2;
  }
  50% {
    opacity: 1;
    z-index: 2;
  }
  70% {
    opacity: 1;
    z-index: 1;
  }
  80% {
    opacity: 0.3;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@keyframes new {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(-1turn);
  }
  100% {
    transform: rotate(0turn);
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

h3 {
  font-weight: 500;
}

p, h6 {
  font-weight: 300;
}

ul {
  list-style-type: none;
}

#logo-header, #logo-footer, #restaurant-name {
  font-family: "Shrikhand", cursive;
}

#restaurant-name {
  font-weight: 300;
}

body {
  font-family: "Roboto", sans-serif;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #02055C;
  z-index: -1;
  opacity: 0;
  animation: loader 2s;
}

.loader--spin {
  margin: auto;
  border: 5px dotted #9356DC;
  width: 60px;
  height: 60px;
  border-top-color: #FF79DA;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: loader--spin 2s linear infinite;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  margin: 0 auto;
  padding: 25px 0px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .btn {
    width: 410px;
  }
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 1px 4px 10px #6e6e6e;
}
.btn--explore {
  color: white;
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  transition: all ease 400ms;
  box-shadow: 1px 4px 10px #d2d2d2;
}

.functioning__card {
  display: flex;
  align-items: center;
  width: 100%;
  color: gray;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 50px 0px;
  height: 80px;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 1px 4px 10px #d2d2d2;
}
@media screen and (max-width: 992px) {
  .functioning__card {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .functioning__card {
    width: 100%;
  }
}
.functioning__card__number {
  position: relative;
  right: 15px;
  color: white;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 20px;
  height: 20px;
}
.functioning__card__icone {
  position: relative;
  left: 10px;
}
@media screen and (max-width: 992px) {
  .functioning__card__icone {
    left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .functioning__card__icone {
    left: 30px;
  }
}
.functioning__card h3 {
  color: black;
  font-weight: 500;
  padding-left: 50px;
}
@media screen and (max-width: 992px) {
  .functioning__card h3 {
    padding-left: 80px;
  }
}
@media screen and (max-width: 768px) {
  .functioning__card h3 {
    padding-left: 100px;
  }
}
.functioning__card:hover {
  background: #f2eafb;
  color: #9356DC;
}

.restaurants__card {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
  color: black;
  margin-bottom: 5%;
  border-radius: 20px;
  transform: scale(1);
  transition: all ease 300ms;
  box-shadow: 1px 4px 10px #d2d2d2;
}
.restaurants__card:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .restaurants__card {
    margin-bottom: 2%;
  }
}
.restaurants__card__image {
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 340px;
}
.restaurants__card__image .new {
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 25%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #99E2D0;
  color: #2c9c81;
  position: relative;
  top: 10%;
  left: 33%;
  animation: new 2s infinite;
}
.restaurants__card__image.image01 {
  background-image: url("../../public/img/restaurants/la_palette_du_gout.jpg");
}
.restaurants__card__image.image02 {
  background-image: url("../../public/img/restaurants/la_note_enchantee.jpg");
  background-position: top;
}
.restaurants__card__image.image03 {
  background-image: url("../../public/img/restaurants/a_la_francaise.jpg");
}
.restaurants__card__image.image04 {
  background-image: url("../../public/img/restaurants/le_delice_des_sens.jpg");
}
.restaurants__card__infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.restaurants__card__infos h3 {
  padding: 20px 0px 5px 15px;
}
.restaurants__card__infos p {
  padding-left: 15px;
  padding-bottom: 20px;
}

.menu__card {
  cursor: pointer;
  width: 100%;
  max-width: 690px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 4px 10px #d2d2d2;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
}
.menu__card--01 {
  animation: apparition 1000ms linear;
}
.menu__card--02 {
  animation: apparition 1500ms linear;
}
.menu__card--03 {
  animation: apparition 2000ms linear;
}
.menu__card--04 {
  animation: apparition 2500ms linear;
}
.menu__card:hover > .menu__card__animation {
  width: 220px;
  opacity: 1;
}
.menu__card:hover > .menu__card__animation i {
  animation: rotation 500ms;
}
.menu__card__info__text {
  width: 615px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  padding-right: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.menu__card__info__text h4 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}
.menu__card__info__text h6 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card__info__price {
  width: 230px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  padding-right: 40px;
  padding-left: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.menu__card__animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  opacity: 0;
  font-size: 35px;
  position: relative;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 500ms;
}
.menu__card__animation i {
  color: white;
}

.functioning__heading__grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .functioning__heading__grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .functioning__heading__grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.restaurants__heading__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media screen and (max-width: 992px) {
  .restaurants__heading__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .restaurants__heading__grid {
    grid-template-columns: 1fr;
  }
}

.favourite__heart {
  display: flex;
}
.favourite__heart .fa-heart {
  color: grey;
  font-size: 36px;
  margin-top: 30px;
  margin-right: 35px;
}
@media screen and (max-width: 992px) {
  .favourite__heart .fa-heart {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .favourite__heart .fa-heart {
    font-size: 45px;
  }
}
.favourite__heart .heart__empty {
  opacity: 1;
}
.favourite__heart .heart__colored {
  color: white;
  position: absolute;
  opacity: 0;
  transition: all 1500ms;
}
.favourite__heart .heart__colored:hover {
  opacity: 1;
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  z-index: 1;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  height: 85px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
header #logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0;
}

#header-icone {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 1em;
  color: black;
}

.header__image {
  width: 100%;
  height: 550px;
  background-image: url("../../public/img/restaurants/la_note_enchantee.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-section {
  position: relative;
  bottom: 115px;
  margin-bottom: -115px;
  padding-bottom: 80px;
  background-color: #e6e6e6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.main-section__menu {
  width: 90%;
  margin: 0 auto;
}

.heading {
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heading .fa-heart {
  margin: 0;
}
@media screen and (max-width: 992px) {
  .heading {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  height: 65px;
}
.location i {
  position: relative;
  right: 25px;
}
.location h3 {
  font-weight: 400;
  margin: 0;
  position: relative;
  right: 5px;
}

.explore {
  background-image: url("../../public/img/restaurants/restaurant_paris.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: whitesmoke;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .explore {
    background-image: none;
  }
}
.explore h1 {
  color: white;
  font-size: 45px;
  text-shadow: black 1px 0 10px;
  width: 80%;
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .explore h1 {
    color: black;
    text-shadow: none;
  }
}
.explore p {
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-shadow: black 1px 0 10px;
  width: 90%;
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .explore p {
    color: black;
    text-shadow: none;
  }
}
.explore a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 40px;
}

.functioning {
  padding-top: 50px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.functioning__heading {
  margin-bottom: 30px;
}

.restaurants {
  background-color: whitesmoke;
  padding-bottom: 80px;
}
.restaurants__heading {
  padding-top: 90px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.menu__course {
  padding-top: 80px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 5px solid #99E2D0;
  position: relative;
  top: 0;
  left: 10px;
  width: 2.5em;
}

.order {
  margin-top: 80px;
}
.order a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 40px;
}

footer {
  background-color: #323232;
  color: white;
  padding: 0px 30px;
}
footer a {
  color: white;
  margin-right: 30px;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 992px) {
  footer {
    padding-right: 5px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 30px;
    display: block;
  }
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  footer div {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
footer ul {
  padding: 30px;
  display: flex;
}
@media screen and (max-width: 992px) {
  footer ul {
    display: block;
    padding: 0;
  }
}
footer ul .footer-item {
  color: white;
}
footer ul li {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: white;
  transform: scale(1);
  transition: all ease 300ms;
}
footer ul li:hover {
  transform: scale(1.05);
  color: #99E2D0;
}
@media screen and (max-width: 992px) {
  footer ul li {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  footer ul li {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
footer ul li .icone {
  width: 30px;
  margin: 0;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  footer ul li .icone {
    margin-right: 30px;
  }
}
footer #logo-footer {
  color: white;
}
@media screen and (max-width: 992px) {
  footer #logo-footer {
    padding-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
