.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:60px;
    border-radius: 30px;
    font-size: $font-button;
    margin: 0 auto;
    padding:15px 0px;
    border: none;
    cursor: pointer;

    &--explore {
        color:white;
        background: $background-gradient;
        transition:all ease 400ms;
        @include box-shadow-light;
        &:hover {
            opacity:0.8;
        @include box-shadow-dark;

        }
    }

}
