.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:60px;
    border-radius: 30px;
    font-size: $font-button;
    margin: 0 auto;
    padding:15px 0px;
    border: none;
    cursor: pointer;

    &--explore {
        color:white;
        background: $background-gradient;
        transform:scale(1);
        transition:all ease 400ms;
        &:hover {
            transform: scale(1.15);
            background:white;
            color:$color-secondary;
            border:3px solid $color-secondary;
            font-size: 1.2em;
            font-weight: 700;
        }
    }

}
