.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 300px;
    // height:80px;
    margin: 0 auto;
    padding:15px 20px;
    border: none;
    cursor: pointer;
    @include mobile-media-query {
        // width: 410px;

    }
    &:hover {
        opacity:0.8;
        @include box-shadow-dark;
    }

    &--explore {
        color:white;
        background: $background-gradient;
        transition:all ease 400ms;
        @include box-shadow-light;
    }

}
