// FUNCTIONING CARD

.functioning__card {
    color:grey;
    display:flex;
    align-items: center;
    margin:0 auto;
    margin-bottom: 20px;
    padding:20px 0px;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    @include box-shadow-light;
    &:hover{
        @include bg-lighteness-hover;
        color:$color-primary;
    }
    &:hover .functioning__card__icone {
        color:$color-primary;
    }

    &__number {
        position:relative;
        right:8px;
        padding:12px;
        color: white;
        border:1px solid $color-primary;
        background-color: $color-primary;
        border-radius: 50%;
        @include flex-center-center;
        width: 20px;
        height: 20px;
    }
    &__icone {
        color:grey;

    }
    & p {
        color:black;
        font-weight: 500;
        padding-left: 20px;
    }

}




// RESTAURANTS CARD

.restaurants__card{
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    background-color: white;
    color:black;
    margin-bottom: 5%;
    border-radius: 20px;
    transform:scale(1);
    transition:all ease 300ms;
    @include box-shadow-light;
    &:hover {
        transform: scale(1.05);
    }
    @include mobile-media-query{
        margin-bottom: 2%;
    }
    &__image {
        margin:0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        height:340px;

        & .new{
            font-size: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            width:20%;
            height:9%;
            margin:0 auto;
            border-radius: 5px;
            padding: 20px 10px;
            background-color: $color-tertiary;
            @include text-color;
            position: relative;
            top: 40px;
            left: 240px;
            animation: new 2s infinite;

        }
        &.image01{
            background-image: url("../../public/img/restaurants/la_palette_du_gout.jpg");
        }
        &.image02{
            background-image: url("../../public/img/restaurants/la_note_enchantee.jpg");
            background-position: top;
        }
        &.image03{
            background-image: url("../../public/img/restaurants/a_la_francaise.jpg");
        }
        &.image04{
            background-image: url("../../public/img/restaurants/le_delice_des_sens.jpg");
        }
    }

    &__infos {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        h3 {
            padding: 20px 0px 5px 15px;
        }
        p {
            padding-left:15px;
            padding-bottom: 20px;
        }
    }
}


// MENU CARD

.menu__card {
    cursor:pointer;
    width:100%;
    max-width:690px;
    background-color: white;
    border-radius: 20px;
    @include box-shadow-light;
    display: flex;
    margin:0 auto;
    margin-top:30px;
    // Pour enlever grésillement lors du hover.
    overflow: hidden;
    //animation progressive

    &--01 {
        animation: apparition 1000ms linear;


    }
    &--02 {
        animation: apparition 1500ms linear;


    }
    &--03 {
        animation: apparition 2000ms linear;


    }
    &--04 {
        animation: apparition 2500ms linear;


    }


    //animation depuis toute la carte span animation.
    &:hover > &__animation{
        width:220px;
        opacity:1;
    }
    &:hover > &__animation i {
        animation: rotation 500ms;
    }

    &__info__text {
        width: 615px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding:20px;
        padding-right:0px;
        border-top-left-radius:20px;
        border-bottom-left-radius:20px;
        h4 {
            width:100%;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
            margin-bottom: 5px;
        }
        h6 {
            width:100%;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space:nowrap;

        }
    }  
    &__info__price {
        width:230px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 20px;
        padding-right: 40px;
        padding-left: 0px;
        border-top-right-radius:20px;
        border-bottom-right-radius:20px;
    }
    &__animation {
        display: flex;
        justify-content: center;
        align-items: center;
        width:0px;
        opacity:0;
        font-size: map-get($map: $font, $key: h3);
        position:relative;
        background-color: $color-tertiary;
        color: white;
        border-top-right-radius:20px;
        border-bottom-right-radius:20px;
        transition:all 500ms;
        & i {
            color: white;
        }
    }

  
}
