// FUCTIONING CARD

.functioning__card{
    display:flex;
    align-items: center;
    width: 350px;
    color:gray;
    margin:0 auto;
    margin-bottom: 20px;
    height:80px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    @include box-shadow-light;
    @include tablet-media-query {
        width: 500px;
    }
    @include mobile-media-query {
        width:350px;
    }

    &__number {
        position:relative;
        right:15px;
        color: white;
        border:1px solid $color-primary;
        background-color: $color-primary;
        border-radius: 50%;
        @include flex-center-center;
        padding:15px;
        width: 20px;
        height: 20px;
    }
    &__icone {
        font-size: $icone-functioning;
        position:relative;
        left:15px;
    }
    & h4 {
        color:black;
        font-weight: 500;
        padding-left: 40px;
    }
    &:hover{
        @include bg-lighteness-hover;
        color:$color-primary;
    
    }
}




// RESTAURANTS CARD

.restaurants__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    background-color: white;
    margin-bottom: 5%;
    border-radius: 20px;
    transform:scale(1);
    transition:all ease 300ms;
    @include box-shadow-light;
    &:hover {
        transform: scale(1.05);

    }
    @include mobile-media-query{
        margin-bottom: 2%;
    }

    &__image {
        margin:0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        width:500px;
        height:380px;
        @include tablet-media-query{
            width:375px;
            height:190px;
        }
        @include mobile-media-query{
            width:375px;
            height:190px;
        }

        & .new{
            display: flex;
            justify-content: center;
            width:25%;
            margin:0 auto;
            border-radius: 5px;
            padding: 5px 10px;
            background-color: $color-tertiary;
            @include text-color;
            position: relative;
            top: 10%;
            left: 33%;
            animation: new 2s infinite;
            
        }
        &.image01{
            background-image: url("../../public/img/restaurants/la_palette_du_gout.jpg");
        }
        &.image02{
            background-image: url("../../public/img/restaurants/la_note_enchantee.jpg");
            background-position: top;
        }
        &.image03{
            background-image: url("../../public/img/restaurants/a_la_francaise.jpg");
        }
        &.image04{
            background-image: url("../../public/img/restaurants/le_delice_des_sens.jpg");
        }
    }

    &__infos {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        h3 {
            padding: 20px 0px 5px 15px;
        }
        p {
            padding-left:15px;
            padding-bottom: 20px;
        }
    }
}