// FUCTIONING GRID

.functioning__heading__grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    @include tablet-media-query{
        grid-template-columns: 1fr;
        grid-gap:20px;
    }

    @include mobile-media-query{
        grid-template-columns: 1fr;
        grid-gap:20px;
    }
}

// RESTAURANTS GRID

.restaurants__heading__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    @include tablet-media-query {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:20px;

    }
    @include mobile-media-query{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:20px;
    }
}

