// FUCTIONING GRID

.functioning__heading__grid {

    display: grid;
    margin:0 auto;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    @include tablet-media-query{
        grid-template-columns: 1fr;
        grid-gap:20px;
    }

    @include mobile-media-query{
        grid-template-columns: 1fr;
        grid-gap:20px;
    }
}

// RESTAURANTS GRID

.restaurants__heading__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:20px;

    @include tablet-media-query {
        grid-template-columns: repeat(2, 1fr);

    }
    @include mobile-media-query{
        grid-template-columns: 1fr;
    }
}

