.favourite__heart {
    display: flex;
    & .fa-heart {
        font-size: $icone-heart*0.8;
        margin-top:30px;
        margin-right: 35px;
        @include tablet-media-query {
            font-size: $icone-heart*0.8;
        }
        @include mobile-media-query {
            font-size: $icone-heart; 
        }
    }

    & .heart__empty {
        opacity: 1;
    }

    & .heart__colored {
        position: absolute;
        opacity: 0;
        transition: all ease-out 1500ms;
        &:hover {
            opacity:1;
            background: $background-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

}
