// SECTION LOCATION

.location {
    @include flex-center-center;
    background-color: $background-section-dark-grey;
    height:65px;

    & i {
        position: relative;
        right:25px;
    }
    & h4 {
        font-weight: 300;
        margin: 0;
        position: relative;
        right:5px;

    }
} 
