// logo and titles

#logo-header, #logo-footer, #restaurant-name{
    font-family: 'Shrikhand', cursive;
}

#restaurant-name {
    font-weight: 300;
}

// text

body {
    font-family: 'Roboto', sans-serif;
}



