// SECTION EXPLORE

.explore {
    background-color: $background-section-grey;
    width: 100%;
    margin:0;
    @include flex-center-center;
    flex-direction: column;
    h1{
        width: 80%;
        text-align: center;
        margin-top: 50px;
    }
    p {
        text-align: center;
        margin-top: 20px;
    }
    a {
        @include flex-center-center;
        margin-top:30px;
        margin-bottom: 60px;
        border-radius:30px;
    }
}