// MAIN

// SECTION LOCATION

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-section-dark-grey;
    height:65px;

    & i {
        position: relative;
        right:25px;
    }
    & h3 {
        font-weight: 400;
        margin: 0;
        position: relative;
        right:5px;

    }
} 



// SECTION EXPLORE

.explore {
    background-color: $background-section-grey;
    width: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        width: 80%;
        text-align: center;
        margin-top: 50px;
    }
    p {
        text-align: center;
        margin-top: 20px;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:30px;
        margin-bottom: 60px;
        border-radius:30px;
    }
}

// SECTION FONCTIONING

.functioning {
    padding-top: 50px;
    width:90%;
    margin:0 auto;
    margin-bottom:50px;
    &__heading {
        margin-bottom: 30px;
        &__grid {
            
        }
    }
}

// SECTION RESTAURANTS

.restaurants {
    background-color: $background-section-grey;
    margin-bottom: 80px;;
    &__heading {
        padding-top: 50px;
        width:90%;
        margin:0 auto;
        margin-bottom:50px;

    }

}

.favourite__heart {
    display: flex;
    & .fa-heart {
        font-size: $icone-heart;
        margin-top:25px;
        margin-right: 25px;
    }

    & .heart__empty {
        opacity: 1;
    }

    & .heart__colored {
        position: absolute;
        opacity: 0;
        transform:scale(1);
        transition: all ease-out 300ms;
        &:hover {
            opacity:1;
            // au cas ou le navigateur ne supporte pas --> bg color
            background-color: $color-primary; 
            background: linear-gradient(100deg,$color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform:scale(1.3);
        }
    }

}

