// MAIN SECTION MENU

.main-section{
    position:relative;
    bottom:115px;
    margin-bottom:-115px;
    padding-bottom:80px;
    background-color:$background-section-dark-grey;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

}

.main-section__menu {
    width: 90%;
    margin:0 auto;

}

.heading {
    width:60%;
    margin:0 auto;
    padding-top:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .fa-heart {
        margin:0;

    }
    @include tablet-media-query {
        width:80%;

    }

    @include mobile-media-query {
        width:100%;
        margin:0 auto;
        padding-left:10px;
        padding-right:60px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
}