// MAIN SECTION MENU

.main-section{
    position:relative;
    bottom:115px;
    margin-bottom:-115px;
    padding-bottom:80px;
    background-color:$background-section-dark-grey;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

}

.main-section__menu {
    width: 90%;
    margin:0 auto;

}

.heading {
    padding-top:50px;
    padding-left:10px;
    margin-right:40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    .fa-heart {
        margin:0;

    }
}