// SECTION RESTAURANTS

.restaurants {
    background-color: $background-section-grey;
    padding-bottom: 80px;
    &__heading {
        padding-top: 50px;
        width:90%;
        margin:0 auto;
        margin-bottom:50px;

    }
}


