// SECTION RESTAURANTS

.restaurants {
    background-color: $background-section-grey;
    padding-bottom: 80px;
    &__heading {
        padding-top: 50px;
        width:90%;
        margin:0 auto;
        margin-bottom:50px;

    }
}

.favourite__heart {
    display: flex;
    & .fa-heart {
        font-size: $icone-heart;
        margin-top:25px;
        margin-right: 25px;
    }

    & .heart__empty {
        opacity: 1;
    }

    & .heart__colored {
        position: absolute;
        opacity: 0;
        transition: all ease-out 1500ms;
        &:hover {
            opacity:1;
            background: $background-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

}

