   // FUNCTIONS

   //Font-title : 

@each $key, $value in $font {
    #{$key} {
        font-size: $value*1;
        @media screen and (max-width: map-get($breakpoints, tablet)){
            font-size: $value*1;
        }
        @media screen and (max-width: map-get($breakpoints, mobile)) {
            font-size: $value;
        }
    }
}
