
//MIXIN BOX-SHADOW GREY
@mixin box-shadow-light{
    box-shadow: 1px 4px 10px rgb(210, 210, 210);
}

@mixin box-shadow-dark{
    box-shadow: 1px 4px 10px rgb(110, 110, 110);

}
//MIXIN display:flex; justify-content:center;align-items:center;
@mixin flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

// MIXIN lightness background-color :hover
@mixin bg-lighteness-hover($color:$color-primary) {
    @if (lightness($color)<25%) {
        $color:darken($color, 35%)
    }@else{
        $color:lighten($color, 35%);
    }
        background: $color;
}


// MIXIN color depends background-color
@mixin text-color($color:$color-tertiary) {
    @if (lightness($color)<25%) {
        $color:lighten($color, 35%)
    }@else{
        $color:darken($color, 35%);
    }
        color: $color;
}


//MIXIN MEDIA-QUERIES

// MIXIN MOBILE
@mixin mobile-media-query {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
        }
    };

// MIXIN TABLET

@mixin tablet-media-query {
    @media screen and (max-width: map-get($breakpoints, tablet)){
        @content;
        }
    };


// ------------------------------------------------------------------------------------------

// MIXIN HEADER

@mixin header {
        z-index: 1;
        background-color: white;
        position:sticky;
        top:0;
        display: flex;
        justify-content: center;
        height: 85px;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .2);;
    #logo-header {
        @include flex-center-center;
        color:black;
        margin: 0;
    }
}


// MIXIN FOOTER


@mixin footer {

    background-color:rgb(50,50,50);
    color: white;
    padding: 30px;
    @include tablet-media-query {
        padding-right: 5px;
    }
    @include mobile-media-query {
        padding:30px;
    }
    a {
        color:white;
        margin-right:30px;
        margin-bottom:5px;
        display: flex;
        align-items: flex-end;
        transform:scale(1);
        transition:all ease 300ms;
        &:hover {
            transform: scale(1.05);
            color:$color-tertiary;
        }
    }
    .footer__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width:100%;
        margin:0 auto;
        @include tablet-media-query{
            padding: 20px;
        }
        @include mobile-media-query{
            width:100%;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        
    }

    nav{
        display: flex;
        @include tablet-media-query{
            display: block;
        }
        @include mobile-media-query{
            display: block;
        }
    }

    .footer-item {
        font-weight:500;
        @include tablet-media-query {
            margin-bottom: 10px;
        }
        @include mobile-media-query {
            margin-bottom: 10px;
        }
        
        i{
            width:45px;

        }
    }
    #logo-footer {
        color:white;
        @include tablet-media-query{
            padding-bottom:30px;
        }
    }
}


