// COLOURS
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;


// FONT-SIZES
$font-title : (h1:30px, h2:25px, h3:19px, p:20px);
$font-button:18px;
$logo-header:40px;
$logo-footer:30px;
$icone-functioning:25px;
