// COLOURS
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;


// FONT-SIZES
$font-title :(h1:55px, h2:45px, h3:35px, h4:33px, h5:28px, p:34px);
$font-button:30px;
$logo-header:60px;
$logo-footer:35px;
$restaurant-name:40px;
$icone-functioning:35px;
$icone-heart:45px;


//BACKGROUND

$background-section-dark-grey:rgb(230, 230, 230);
$background-section-grey:rgb(245, 245, 245);
$background-gradient:linear-gradient(180deg,$color-primary, $color-secondary);


//MEDIA QUERIES

$breakpoints: (
    mobile:768px,
    tablet:992px
)
